.tags {
  background-color: #f7f0d1;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem;
  height: 2rem;
}
.tagContent {
  font-size: 1.2rem;
}
