.button {
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  color: #f0b31e;
  font-weight: 700;
  transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}

.button:hover {
  background-color: #f0b31e;
  color: #fff;
}
