.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.all {
  width: 62.5rem;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  text-align: center;
  padding: 1rem 0;
}

.header {
  margin: 0;
  font-size: 3.3rem;
}

.postData {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.text {
  font-size: 1.2rem;
  color: #65717b;
}

.main {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tagContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article {
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: justify;
  word-break: break-all;
}
