.nav {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 1.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 3px -2px #21253840;
}

.btn:hover {
  border: 1px solid #f0b31e;
  background-color: #f0b31e;
  color: white;
  transition: background-color 0.5s;
}

.imgIcon {
  width: 2.5rem;
}
