.nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem 0;
  width: 62.5rem; */
  grid-area: nav;
}

.btn {
  font-size: 1.5rem;
  border: 0;
  background-color: #f7f0d1;
  border-radius: 4px;
  padding: 0.5rem;
  color: #f0b31e;
}

.iconBtn {
  border: 0;
  background-color: #f7f0d1;
  border-radius: 4px;
  padding: 0.5rem;
  color: #f0b31e;
}

.logo {
  color: #f0b31e;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  border: 0;
  background-color: #f7f0d1;
}

.imgIcon {
  width: 2.5rem;
}
